<div class="container">
  <div class="menu">
    <ul>
      <li>
        Getting Started
        <ul>
          <li><a routerLink="/getting-started/sorting">Sorting</a></li>
          <li><a routerLink="/getting-started/filtering">Filtering</a></li>
          <li>
            <a routerLink="/getting-started/row-selection">Row Selection</a>
          </li>
          <li>
            <a routerLink="/getting-started/grid-api">Grid API</a>
          </li>
          <li>
            <a routerLink="/getting-started/column-api">Column API</a>
          </li>
        </ul>
      </li>
      <li>
        Data
        <ul>
          <li>Simple Binding</li>
          <li>Advanced Binding</li>
          <li>Async Data Binding</li>
          <li>Data Propogation</li>
        </ul>
      </li>
      <li>
        Columns
        <ul>
          <li>Column API</li>
          <li>Moving</li>
          <li>Sizing</li>
          <li>Pinning</li>
          <li>Defaults</li>
          <li>Delta</li>
        </ul>
      </li>
      <li>
        Filtering
        <ul>
          <li></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
